* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/* Navbar */
.nav-temp {
  width: 100%;
  height: 50px;
  background-color: #2a3841;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact {
  font-size: 11px;
  margin-left: -35px;
}

.contact a {
  color: white;
  text-decoration: none;
}
/* Navbar */
/* Beranda */

.wrap img {
  position: absolute;
  width: 100%;
  height: 650px;
  z-index: -1;
}

.main-menu {
  /* border: 1px solid red; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo,
.menu a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 1.3rem;
}

.menu {
  display: flex;
  gap: 20px;
}

.judul {
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.konten {
  /* border: 1px solid red; */
  width: 50%;
  height: 500px;
}

.kosong {
  /* border: 1px solid red; */
  width: 22%;
  height: 500px;
}
.konten {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.konten h1 {
  font-size: 3rem;
  line-height: 50px;
}

.konten button {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
}

.menu a:hover {
  color: #c7f318;
}

.konten button:hover {
  background-color: #1a2328;
  color: white;
  cursor: pointer;
  border: 2px solid rgb(199, 243, 24);
}
/* Beranda */

/* Bisnis */
.container-bisnis {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.judul-bisnis {
  /* border: 1px solid red; */
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2a3841;
}

.content-bisnis {
  /* border: 1px solid red; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card1,
.card2 {
  width: 350px;
  height: 350px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  box-shadow: 0px 1px 4px grey;
}

.card1,
.card2,
.card3:hover {
  cursor: pointer;
}

.card-img1 {
  /* background-color: #c7f318; */
  background-image: url(/img/1.avif);
  background-size: cover;
  width: 95%;
  height: 200px;
}

.card-img2 {
  /* background-color: #c7f318; */
  background-image: url(/img/2.avif);
  background-size: cover;
  width: 95%;
  height: 200px;
}

.card-img3 {
  /* background-color: #c7f318; */
  background-image: url(/img/a.avif);
  background-size: cover;
  width: 95%;
  height: 200px;
}

.card-isi h1 {
  font-size: 1rem;
}

.card-isi p {
  font-size: 0.8rem;
}

/* Bisnis */

/* page3 */

.services-bisnis {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #f2f3f0;
}

.serv-bisnis {
  /* border: 1px solid red; */
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2a3841;
}

.content2-bisnis {
  /* border: 1px solid red; */
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 20px;
}

.cards1 {
  width: 250px;
  height: 350px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  box-shadow: 0px 1px 4px grey;
  border-radius: 20px;
}

.cards1,
.cards2,
.cards3:hover {
  cursor: pointer;
}

.cards-img1 {
  /* background-color: #c7f318; */
  background-image: url(/img/a.avif);
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cards-isi h1 {
  font-size: 1rem;
}

.cards-isi p {
  font-size: 0.8rem;
}

.cards1 button {
  padding: 5px 10px;
  width: 50%;
  border-radius: 20px;
  color: white;
  background-color: #1a2328;
  border: none;
  box-shadow: 1px 1px 1px grey;
}

.cards1 button:hover {
  background-color: #c7f318;
  color: #1a2328;
  cursor: pointer;
}

.cards-isi {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* page3 */

/* Footer */

.foot-ter {
  width: 100%;
  height: 40px;
  background-color: #2a3841;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}
/* Footer */

